.main-search{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.search-modal{
    height:20%;
    width:100%;
}

.result-modal{
    height: 80%;
    width:96%;
    padding: 2%;
}